:root {
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --border: 5px solid;
  --border-color-exterior: var(--gray-400) var(--gray-800) var(--gray-800)
    var(--gray-400);
  --border-color-interior: var(--gray-800) var(--gray-400) var(--gray-400)
    var(--gray-800);
}
