:host {
  border-radius: 10px;
  transition: ease 0.2s all;
}
.game-container {
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  background-color: var(--gray-600);
  border: 2px solid var(--gray-950);
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
}

app-header,
main,
app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

app-header {
  grid-area: header;
  background-color: var(--gray-800);
  border-bottom: 1px solid var(--gray-700);
  box-shadow: var(--box-shadow);
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  grid-area: main;
  position: relative;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: var(--border);
  border-color: var(--border-color-exterior);
  .game-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--gray-900);
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--gray-400);
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

app-footer {
  grid-area: footer;
  background-color: var(--gray-800);
  border-top: 1px solid var(--gray-700);
  box-shadow: var(--box-shadow);
  font-size: 14px;
  justify-content: flex-start;
  color: var(--gray-400);
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  width: 100%;
  gap: 10px;
}

.new-record {
  color: var(--gray-200);
  font-size: 30px;
}

app-modal-settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease 0.3s all;
  opacity: 1;
}
