:host {
  border-radius: 10px;
  transition: ease 0.2s all;
}
.game-container {
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  background-color: var(--gray-600);
  border: 2px solid var(--gray-950);
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
}

app-header,
main,
app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

app-header {
  grid-area: header;
  background-color: var(--gray-800);
  border-bottom: 1px solid var(--gray-700);
  box-shadow: var(--box-shadow);
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.main-container {
  grid-area: main;
  position: relative;
  .game-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--gray-900);
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: var(--gray-200);
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 3;
    transition: ease 0.2s all;
    .button {
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      color: var(--green-100);
      background-color: var(--green-800);
      &:hover {
        background-color: var(--green-900);
      }
      &:active {
        background-color: var(--green-800);
      }
      &:disabled {
        background-color: var(--green-700);
        cursor: not-allowed;
      }
    }
  }
}
main {
  position: relative;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: var(--border);
  border-color: var(--border-color-exterior);
}

app-footer {
  grid-area: footer;
  background-color: var(--gray-800);
  border-top: 1px solid var(--gray-700);
  box-shadow: var(--box-shadow);
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-400);
  display: flex;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.new-record {
  color: var(--gray-200);
  font-size: 30px;
}

app-modal-settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease 0.3s all;
  opacity: 1;
}
