:host{
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-color: var(--border-color-interior);
  box-sizing: border-box;
  position: relative;
}


.sprites{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

