@for (row of stateSvc.table(); let rowIndex = $index; track rowIndex) {
  <div class="row">
    @for (cell of row; let colIndex = $index; track colIndex) {
      <div class="parent-cell">
        <div class="cell">
          @if (cell === "food") {
            <img
              class="sprite"
              [ngClass]="{ food: stateSvc.gameStatus() === 'playing' }"
              [src]="'/assets/images/mouse.png'"
            />
          } @else if (cell === "snake") {
            <img
              class="sprite"
              [src]="
                (
                  {
                    snake: stateSvc.snake(),
                    cellPos: { row: rowIndex, col: colIndex }
                  } | getSnakeSprite
                ).toDataURL()
              "
            />
          }
        </div>
      </div>
    }
  </div>
}

<!-- NOTE FOR TESTING -->
<!-- @for (sprite of stateSvc.spritesArray; track $index) {
  <img class="sprite" [src]="sprite.canvas.toDataURL()" class="cell" />
  {{ sprite.direction }} - {{ sprite.kind }}
} -->
<!--
@for (row of stateSvc.table(); let rowIndex = $index; track rowIndex) {
  <div class="row">
    @for (cell of row; let colIndex = $index; track colIndex) {
      <div class="parent-cell">
        <div class="cell">
          {{ cell }}
        </div>
      </div>
    }
  </div>
}
 -->
